<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="O nosso site é um sistema básico de organização de finanças">

    <!-- TITULO DO SITE -->
    <title>Gerenciador</title>
    <link rel="shortcut icon" href="/assets/img/logo.svg" type="image/x-icon">

    <!-- Bootstrap início -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap fim -->
    
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/6507a3708e.js" crossorigin="anonymous"></script>

    <!-- folha de estilo -->
    <link rel="stylesheet" href="/assets/css/home.css">

</head>
    <body>
        <div class="formulario-container">
        <div class="container bg-light bg-gradient rounded-2 mt-5">

            <div class="p-4">
                <!--Section: FAQ-->
                <section class="pt-3 titulos">
                    <h3 class="text-center mb-4 pb-2 fw-bold">FAQ</h3>
                    <p class="text-center mb-5">
                        Simples e fácil de ultilizar, aprenda tudo que precisa aqui!
                    </p>

                    <div class="row">
                        <div class="col-md-6 col-lg-4 mb-4">
                        <h6 class="mb-3 "><i class="fa-solid fa-code-fork"></i> Contribuir com o projeto </h6>
                        <p>
                            <strong><u>O projeto está em desenvolvimento!</u></strong> por isso estou aceitando qulquer tipo de sugestão
                            ou melhoria.
                            para entrar em contado irei deixar o link do meu E-mail e Github.
                        </p>
                         <a href="https://github.com/lucasgf007/Web-Scraping"> <i class="fa-brands fa-github fa-flip" style="--fa-animation-duration: 3s;"></i> </a> 
                         <a href="mailto:gabriellucas016@gmail.com"> <i class="fa-solid fa-envelope fa-flip" style="--fa-animation-duration: 3s;"></i> </a> 
                        </div>

                        <div class="col-md-6 col-lg-4 mb-4">
                        <h6 class="mb-3 "><i class="fas fa-pen-alt  pe-2"></i> Features </h6>
                            <ul class="fa-ul">
                                <li><span class="fa-li"><i class="fa-solid fa-check-square"></i></span>Ajustar Front-end</li>
                                <li><span class="fa-li"><i class="fa-solid fa-check-square"></i></span>Raspagem simples de dados</li>
                                <li><span class="fa-li"><i class="fa-solid fa-spinner fa-pulse"></i></span>Raspagem avançada</li>
                                <li><span class="fa-li"><i class="fa-regular fa-square"></i></span>Página de envio de e-mail</li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-lg-4 mb-4 lista">
                        <h6 class="mb-3 "><i class="fa-solid fa-code"></i> Tecnologias e ferramentas
                        </h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"> <i class="fa-brands fa-node-js"></i> Node Js </li>
                                <li class="list-group-item"><i class="fa-brands fa-bootstrap"></i> Bootstrap</li>
                                <li class="list-group-item"><i class="fa-solid fa-file-lines"></i> Mustache</li>
                            </ul>
                        </div>

                        
                    </div>
                </section>
                <!--Section: FAQ-->
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <i class="fa-solid fa-triangle-exclamation fa-fade p-1"></i> Dicas para o funcionamento
                        </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Pare que o sistema funcione sem erros é preciso colocar todos os dados de maneira correta, para que o fluxo da raspagem seja bem sucedido. 


                        </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <i class="fa-regular fa-hand-pointer p-1"></i> Seletor
                        </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                É importante escolher o seu seletor com cuidado e certeza que aquele é o mais próximo possível da informação que quer capturar. <br/> 
                                Exemplos de possibilidades de seleção: <br/> Classes: <code>.my-class</code>, Id: <code>#my-class</code>, Tag específica: <code>span[class=myclass]</code> 
                                <br/> 
                                <strong>MultiSeletor: </strong> ao habilitar o multiSeletor o fluxo irá percorrer e capturar todos os elementos que possuem o seletor que você escolheu
                                <br/>
                                <strong>Print: </strong> ao habilitar o print será feita uma captura de tela durante a execução da raspagem de dados
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <i class="fa-solid fa-laptop-code p-1"></i> Login
                        </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Se o dado que você quer obter precisa passar por uma verificação de login então aperte no botão "possui login" e preencha todos so campos.
                            <br />
                            <strong>IMPORTANTE! </strong> selecione as tags <code>input</code> onde está o elemento que o fluxo vai inserir os dados de login. Ex: <code>#email</code> ou <code>input[type=email]</code> 
                            <br/>
                            Por fim, selecione o botão que deve ser apertado para envio dos dados e o fluxo faz o resto 😊
                        </div>
                        </div>
                    </div>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-3">
                    <a class="btn btn-primary" href="/" role="button">Voltar para o início</a>
                </div>


            </div>
            










        </div>
    </div>

<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->

        
 
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

    </body>
</html>